.mapel {
  columns: 2;

  img {
    width: 100px; 
    border-radius: 50%;
  }

  a {  
    -webkit-column-break-inside: avoid;
    gap: 0rem;
    border: 2px solid var(--primer);
    flex-direction: column;
    margin-bottom: 1rem; 
    padding-bottom: 1rem;
    border-radius: 8px; 

    > :last-child {
        opacity: 0.5;
        font-size: 0.8rem;
    }
  }
}

article {
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 1rem;
  border: 2px solid rgba(136, 136, 136, 0.205);
  font-weight: 500;

  &:hover {
    background-color: azure;
  }

  .text-box {
    display: inline-block;
  }

  .row:nth-of-type(2) {
    align-items: end;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }
}

.tags {
  font-size: 0.9rem;

  > * {
    border-radius: 8px;
    padding: 0.1rem 1rem;
    background-color: color-mix(in srgb, var(--primer), white 80%);
    color: var(--primer);
  }

  > :last-of-type {
    background-color: transparent;
    color: var(--sekunder);
  }
}

.poster {
  align-items: start;

  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  a {
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
  }

  p {
    font-size: 0.8rem;
  }
}

.statistik {
  opacity: 0.75;
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;

  > * {
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    color: color-mix(in srgb, black, transparent 50%);
    cursor: pointer;
  }
}
